@using ViewModels.RoutineViewModel;
@model RoutineViewModel


@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Routine</h4>


<h2>Edit Routine: @Model.Name</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>

    <div class="form-group">
        <label>Exercises</label>
        @foreach (var exercise in Model.AvailableExercises)
        {
            <div class="form-check">
                <input class="form-check-input" type="checkbox"
                       name="SelectedExerciseIds"
                       value="@exercise.Value"
                       @(Model.SelectedExerciseIds.Contains(int.Parse(exercise.Value)) ? "checked" : "") />
                <label class="form-check-label">@exercise.Text</label>
            </div>
        }
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
