@using ViewModels.ExerciseViewModel;
@model ExerciseViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Exercise</h4>
<hr />
<div class="row">
    <div class="col-md-4"> 
        <form asp-action="Create" method="post">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Muslces</label>
                <select asp-for="SelectedMuscleIds" asp-items="Model.AvailableMuscles" multiple class="form-control"></select>
            </div>
            <div class="form-group">
                <label>Routines</label>
                <select asp-for="SelectedRoutineIds" asp-items="Model.AvailableRoutines" multiple class="form-control"></select>
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
